.contact-subheading {
  margin-left: 1%;
  padding-top: 4%;
}

.contact-text {
  font-family: var(--secondaryFont);
  margin-left: 1%;
  font-size: 3rem;
}
.contact-link {
  font-family: var(--secondaryFont);
  margin-left: 1%;
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  .contact-text {
    font-size: 1.8rem;
  }
  .contact-link {
    font-family: var(--secondaryFont);
    margin-left: 1%;
    font-size: 1.8rem;
  }
}
