@import url("https://fonts.cdnfonts.com/css/futura-condensed-pt");

.page2-heading {
  text-align: center;
  font-size: 4rem;
  font-family: "Futura Condensed Extra", sans-serif;
  margin-bottom: 2%;
  margin-top: 2%;
}
.page2-subheading {
  font-size: 4rem;
  text-decoration: underline;
  font-family: "Futura Condensed Extra", sans-serif;
  margin: 1%;
}

.page2-carousel {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 30px;
  max-width: 98%;
  margin: 0 auto;
}

.page2-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.page2-block-btn {
  max-width: 500px;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Proxima Nova Condensed", sans-serif;
  font-size: 1.5rem;
  height: 50px;
  margin-bottom: 1%;
}

:where(.css-dev-only-do-not-override-3mqfnx).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  max-width: 500px;
  background-color: #536ce8;
  color: white;
}
:where(.css-3mqfnx).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  max-width: 500px;
  background-color: #536ce8;
  color: white;
}

.page2-section2 div {
  background-color: var(--secondary);
  color: black;
}

.page2-subheading2 {
  font-size: 4rem;
  text-decoration: underline;
  font-family: "Futura Condensed Extra", sans-serif;
  padding-top: 2%;
  padding-bottom: 1%;
  margin: 1%;
}

.page2-sports-cards {
  margin-top: 1%;
}

.page2-sports-cards-row {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.page2-sports-cards-col {
  padding: 1%;
  border: 2px solid var(--primary);
  font-family: "Futura Condensed Extra", sans-serif;
}

.page2-suggested-cards {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  margin: 0 6%;
}

.page2-suggested-individual-card {
  margin: 1%;

  font-family: "Proxima Nova Condensed", sans-serif;
  background-color: var(--secondary);
}

.page2-suggested-individual-card:hover {
  transform: scale(1.07);
  transition: 0.5s ease;
}

.ant-card-head-title {
  font-size: 2rem;
}

.page2-sports-cards-individual {
  max-width: 100%;
}

.page2-sports-cards-row-individual {
  display: flex;
  min-width: 350px;
  margin-bottom: 2%;
}

@media screen and (max-width: 800px) {
  .page2-heading {
    font-size: 2.5rem;
  }
  .page2-subheading2 {
    font-size: 2rem;
  }
  .page2-subheading {
    font-size: 2rem;
  }
  .page2-carousel div {
    max-height: 250px;
  }

  .page2-sports-cards-col img {
    max-height: 150px;
  }
  .page2-sports-cards-row-individual {
    display: flex;
    justify-content: center;
  }
  .page2-suggested-cards {
    display: flex;
    justify-content: center;
  }

  .page2-suggested-individual-card:hover {
    transform: scale(1.02);
  }

  .page2-carousel {
    max-width: 98%;
    margin: 0 auto;
  }
}
