/* mobile screen */
@media screen and (max-width: 800px) {
    .profileWholeContainer h1 {
        font-size: 2rem !important;
    }
    .profileContainer {
        padding: 0px !important;
    }
    .profileWholeContainer.profileWholeContainer {
        padding: 0 0 5% 0;
        }
    .avatarProfile {
        width: 150px !important;
        height: 150px !important;
        border-width: 1px !important;
        margin: 0px !important;
    }
    .bioContainer {
        border-style: none !important;
        padding: 0px !important;
        border-radius: 0px !important;
        border-width: 0px !important;
        justify-content: flex-start !important;
        margin: 10px !important;
    }
    .bioContainer h3,  .infoContainer h3 {
        font-size: 1.25rem;
    }
    .eventsJoined .profileCards, .eventsCreated .profileCards {
        width: 50px !important;
        height: 75px !important;
    }
    .infoContainer {
        border-style: none !important;
        padding: 0px !important;
        border-width: 0px !important;
        margin-right: 5px !important;
    }
    .infoItem {
        margin: 0px !important;
        padding: 0px !important;
        border-width: 5px !important;
    }
    .badge,
    .beaverBadge,
    .starBadge,
    .masterBadge {
    height: 15px !important;
    border-width: 5px !important;
    padding: 20px !important;
    }
    .badgeexample {
        width: 300px;
    }
    :where(.css-dev-only-do-not-override-qgg3xn).ant-rate {
    padding: 0px !important;
    }
    :where(.css-qgg3xn).ant-rate {
    padding: 0px !important;
    }
    .profileCards:where(.css-dev-only-do-not-override-qgg3xn).ant-card .ant-card-body {
    padding: 5px 5px !important;
    }
    .profileCards:where(.css-qgg3xn).ant-card .ant-card-body {
    padding: 5px 5px !important;
    }
    .avatarCard {
    margin-top: 10px !important;
    width: 30px !important;
    height: 30px !important;
    }
    .profileCards:where(.css-dev-only-do-not-override-qgg3xn).ant-card .ant-card-meta-title {
    white-space: nowrap !important;
    }
    .profileCards:where(.css-dev-only-do-not-override-qgg3xn).ant-card .ant-card-head {
    min-height: 0px !important;
    padding: 0px !important;
    }
    .badgeCon {
    grid-template-columns: 5px 5px 5px 5px !important;
    align-items: center;
    }
    .eventsJoinedCon {
    grid-gap: 2px !important;
    grid-template-columns: 50px 50px 50px !important;
    }
    .profileCards:where(.css-qgg3xn).ant-card .ant-card-head {
    min-height: 0px !important;
    padding: 0px !important;
    }
    .profileCards .ant-card-head-title {
    font-size: 0.75rem !important;
    }
    .profileCards:where(.css-qgg3xn).ant-card .ant-card-meta-title {
    white-space: nowrap !important;
    }
    .bioCon {
    border-width: 5px !important;
    }
    :where(.css-dev-only-do-not-override-qgg3xn).ant-rate {
    border-width: 5px !important;
    }
    :where(.css-qgg3xn).ant-rate {
    border-width: 5px !important;
    }
    .deleteProfile:where(.css-dev-only-do-not-override-qgg3xn).ant-btn-primary.ant-btn-dangerous  {
    width: 40% !important;
    }
        
    .deleteProfile:where(.css-qgg3xn).ant-btn-primary.ant-btn-dangerous  {
    width: 40% !important;
    }
}


h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
}

h3 {
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
}

.profileWholeContainer {
    background-color: var(--secondary);
    margin: 0 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.profileContainer {
    background-color: var(--secondary);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0px;
}

.bioContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border-style: solid; */
    border-color: var(--primary);
    padding: 50px;
    /* border-radius: 20px;
    border-width: 20px; */
    /* width: 50%; */
}

.avatarProfile {
    border-radius: 50%;
    margin: 5%;
    border-style: solid;
    border-width: 10px;
    border-color: var(--primary);
    width: 400px;
    height: 400px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border-style: solid; */
    border-color: var(--primary);
    padding: 50px;
    /* border-radius: 20px;
    border-width: 20px; */
    /* width: 50%; */
}

.infoContainer h3 {
margin: 0px;
padding: 0px;
}

/* item */
/* rating */
:where(.css-dev-only-do-not-override-qgg3xn).ant-rate {
    background-color: white;
    border-style: solid;
    border-color: var(--primary);
    padding: 5px;
    border-radius: 5px;
    border-width: 10px;
}
:where(.css-qgg3xn).ant-rate {
    background-color: white;
    border-style: solid;
    border-color: var(--primary);
    padding: 5px;
    border-radius: 5px;
    border-width: 10px;
}

/* bio */
.bioCon {
    background-color: white;
    border-style: solid;
    border-color: var(--primary);
    padding: 5px;
    border-radius: 5px;
    border-width: 10px;
}

/*info*/
.infoItem {
    background-color: white;
    border-style: solid;
    border-color: var(--primary);
    padding: 5px;
    border-radius: 5px;
    border-width: 10px;
    margin: 10px 0px;
}

/* Card */
.eventsJoinedCon {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
}
.eventsJoined .profileCards, .eventsCreated .profileCards {
    width: 100px;
    height: 150px; 
}
.profileCards:where(.css-dev-only-do-not-override-qgg3xn).ant-card .ant-card-meta-title {
    font-size: 0.6rem;
    white-space: wrap;
}

.profileCards:where(.css-qgg3xn).ant-card .ant-card-meta-title {
    font-size: 0.6rem;
    white-space: wrap;
}

.avatarCard {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding-top: 0px;
    border-radius: 50%;
}

.profileCards:where(.css-dev-only-do-not-override-qgg3xn).ant-card .ant-card-meta-avatar {
    margin: 0px;
    padding: 0px;
}

.profileCards:where(.css-qgg3xn).ant-card .ant-card-meta-avatar {
    margin: 0px;
    padding: 0px;
}

.profileCards:where(.css-dev-only-do-not-override-qgg3xn).ant-card .ant-card-body {
    padding: 14px 18px;
}

.profileCards:where(.css-qgg3xn).ant-card .ant-card-body {
    padding: 14px 18px;
}

.deleteProfile:where(.css-dev-only-do-not-override-qgg3xn).ant-btn-primary.ant-btn-dangerous  {
    width: 25%;
    align-self: flex-end;
}

.deleteProfile:where(.css-qgg3xn).ant-btn-primary.ant-btn-dangerous  {
    width: 25%;
    align-self: flex-end;
}

.profileCards:where(.css-dev-only-do-not-override-qgg3xn).ant-card .ant-card-meta-title {
    white-space: nowrap;
}

.profileCards:where(.css-qgg3xn).ant-card .ant-card-meta-title {
    white-space: nowrap;
    }

.profileCards .ant-card-head-title {
    font-size: 1rem ;
}

.rateCloseButton :where(.css-dev-only-do-not-override-qgg3xn).ant-btn {
width: 0%;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-card .ant-card-head {
padding: 0px 3px;
}

:where(.css-qgg3xn).ant-card .ant-card-head {
padding: 0px 3px;
}

.badgeCon {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-gap: 20px;
    align-items: center;
}

.badge {
    border-style: solid;
    border-radius: 100px;
    height: 55px;
    text-align: center;
    background-image: url("../../assets/questionBadge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 40px;
    background-position-x: 10px;
    background-color: white;
    border-color: black;
    border-width: 10px;
}

.darkBadgeexample {
    color: #DDD;
}

.beaverBadge {
    border-style: solid;
    border-radius: 100px;
    height: 55px;
    text-align: center;
    background-image: url("../../assets/beaver.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 40px;
    background-position-x: 10px;
    background-color: white;
    border-color: rgb(108, 57, 23);
    border-width: 10px;
}

.starBadge {
    border-style: solid;
    border-radius: 100px;
    height: 55px;
    text-align: center;
    background-image: url("../../assets/starBadge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 40px;
    background-color: white;
    border-color: gold;
    border-width: 10px;
}

.masterBadge {
    border-style: solid;
    border-radius: 100px;
    height: 55px;
    text-align: center;
    background-image: url("../../assets/trophyBadge.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 40px;
    background-position-y: 6px;
    background-color: white;
    border-color: grey;
    border-width: 10px;
}