@font-face {
  font-family: "Futura Condensed Extra";
  font-style: normal;
  font-weight: 700;
  src: local("Futura Condensed Extra"),
    url("https://fonts.cdnfonts.com/s/92636/Futura Condensed Extra Bold.woff")
      format("woff");
}

:root {
  --primary: #8298c6;
  --secondary: #e9e7db;
  --tertiary: black;
  --mainFont: "Futura Condensed Extra";
  --secondaryFont: "Proxima Nova Condensed", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--primary);
}

@media screen and (max-width: 800px) {
  h1 {
      font-size: 3.5rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--mainFont);
}

h1 {
  font-size: 6rem;
}

p,
a,
button,
span,
label,
div {
  font-family: var(--secondaryFont);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

/* Darrell */

/* Hari */
